/* Container for the entire card */
.email-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  /* Main card styling */
  .email-card {
    background-color: #1c1c1c; /* Dark background for modern look */
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    padding: 15px;
    width: 100%;
    color: #ffffff;
    transition: transform 0.3s ease;

  }
  
  .email-card:hover {
    transform: translateY(-5px); /* Subtle lift effect */
    border: #00ff00 1px solid;

  }
  
  /* Header of the card */
  .email-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  /* Priority indicator (circle) */
  .priority-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  /* Link styling */
  .email-card-link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
  }
  
  .email-card-link:hover {
    text-decoration: underline;
  }
  
  /* Time styling */
  .time {
    font-size: 12px;
    color: #bbbbbb;
    margin-left: auto;
    margin-right:1%;
  }
  
  /* Email body */
  .email-card-body {
    margin-top: 10px;
    display: flex;
    
  }
  
  .email-title {
    font-size: 18px;
    margin: 5px 0;
    color: #00ff00; /* Neon green for title */
  }
  
  .email-body {
    font-size: 14px;
    color: #dddddd; /* Light gray for text */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  /* Delete button styling */
  .delete-button {
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #cc0000;
  }
  
  /* Sent and From text */
  .for {
    color: #00bbff; /* Light blue for from */
  }
  
  .from {
    color: #00bbff; /* Light blue for from */
  }
  

/* Attachments Section */
.attachments-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.attachments-title {
  font-size: 12px;
  font-weight: 500;
  color: #bbbbbb;
  margin-bottom: 5px;
}

.attachments-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.attachment-item {
  margin: 3px 0;
}

.attachment-link {
  font-size: 12px;
  color: #00bbff; /* Light blue for links */
  text-decoration: none;
  transition: color 0.3s ease;
}

.attachment-link:hover {
  color: #00ff00; /* Neon green on hover */
  text-decoration: underline;
}
