.page {
    background-color: #000000;
    padding: 31px;  /* Increase padding to give more space around the page */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_email {
    background-color: #111111;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.15);  
    border-radius:  15px;
    border: #00ff00 1px solid;
    padding: 40px;  
    max-width: 800px;  
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #333;
    box-sizing: border-box;
}

.subject {
    font-size: 2rem;  /* Larger font size for the subject */
    margin-bottom: 30px;  /* Increased margin between subject and details */
    color: #cacaca;
    font-weight: bold;
}

.details {
    border-bottom: 1px solid #00ff00;
    padding-bottom: 15px;  /* More padding to space out the details */
    margin-bottom: 30px;  /* Increased margin to separate details from body */
}
h4{
    color: #cacaca;
}
h5{
    color: #cacaca;
}

.info {
    color: #333;
    font-size: 1.2rem;  /* Slightly larger font size for info */
}

.body_email {
    margin-bottom: 30px;  /* Increased margin to separate from other sections */
}

.bodyText {
    line-height: 1.8;  /* Larger line height for better readability */
    white-space: pre-line;
    font-size: 1.1rem;  /* Slightly larger font size for body text */
    color: #333;
}

.attachments {
    margin-top: 30px;  /* More space between body and attachments */
}

.attachmentList {
    list-style: none; /* Remove bullets */
    padding: 0; /* Ensure there's no additional padding */
    margin: 0; /* Remove default list margin */
}

.attachmentItem {
    margin-top: 15px; /* Adjusted margin for more space between items */
    margin-bottom: 15px; /* Optional: Add margin below items for symmetry */
}


.attachment-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 100;
    font-size:small;  /* More emphasis on the links */
    cursor: pointer;
    text-decoration:underline;
    border-radius: 5px;
    padding: 2px;
    background-color: #2c2c2c; /* Slightly lighter background for contrast */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Soft shadow for emphasis */


}

.noAttachments {
    color: #aaa;
    font-size: 1.1rem;  /* Larger font size for no attachments message */
}
