/* Container styling */
.folder-manager-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #00ff00;
    background-color: #0e0e0e;
  }
  
  /* Title styling */
  .folder-manager-title {
    font-size: 2rem;
    color: #5f5f5f;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Input container */
  .folder-input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .folder-input {
    padding: 8px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .add-folder-button {
    background-color: #00ff00;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    color: #2b2b2b;

    transition: background-color 0.3s ease;
  }
  
  .add-folder-button:hover {
    background-color: #007400;
  }
  
  /* Folder list styling */
  .folder-list {
    list-style: none;
    padding: 0;
    color: aliceblue;
  }
  
  .folder-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #00ff00;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease;
  }
  
  .folder-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .folder-link {
    text-decoration: underline;
    color: #e2e2e2;
    font-weight: bold;

  }
  
  .folder-actions button {
    margin-left: 10px;
  }
  
  /* Rename button */
  .rename-folder-button {
    padding: 5px 10px;
    background-color: #00ff00;
    color: #2b2b2b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-right: 5px;
  }
  
  .rename-folder-button:hover {
    background-color: #007200;
  }
  
  /* Delete button */
  .delete-folder-button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #2b2b2b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .delete-folder-button:hover {
    background-color: #c82333;
  }
  