.form_section_up{
    background-image: linear-gradient(to bottom, rgb(0, 255, 255), rgb(4, 4, 247));
  font-weight: bold;
  padding: 30px;             
  border-radius: 10px;      
  box-shadow: 5px 5px 20px rgb(0, 0, 0); 
  max-width: 400px;           
  margin: 0 auto;
  margin-top: 10%;    
}
.already_have{
    color: rgb(0, 0, 0);
}
.lable {
    color: black;
}
