.scrollable-container {
    height: calc(100vh - 100px); 
    overflow-y: auto;
    width: 175vh;
    padding: 20px;
    background-color: #36003b;
    margin-top: 2%;
    margin-left: 7%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    
  }
  

.scrollable_flex {
    display: flex;
}
