.dropdown-toggle, .dropdown-menu {
    border-radius: 2rem; /* Adjust the border-radius to your liking */
}

.dropdown-menu {
    border-radius: 0.5rem; /* This ensures that the menu matches the toggle button */
}

/* Hover state for dropdown items */
.dropdown-item:hover, .dropdown-item:focus {
    background-color: #242424; /* Light grey background on hover */
    color: #c7c7c7; /* Change text color on hover */
}

/* Active state for dropdown items when clicked */
.dropdown-item.active, .dropdown-item:active {
    color: rgb(71, 71, 71); /* White text for active state */
}

.dropdown-toggle {
    background-color: #222222; /* White background */
    color: #c5c5c5; /* Dark grey text */
    border: #00ff00 solid 1px;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
    color: #c7c7c7; /* Change text color on hover/focus */
    background-color: #000000;
    border: #00ff00 solid 1px;

}

.dropdown-toggle:active, .dropdown-toggle.show {
    color: white; /* White text when toggled */
    background-color: #000000;
    border: #00ff00 solid 1px;
}

.folder-toggle {
    width:250px;
}